<div class="container mt-4">
  <!-- Book Form -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">{{ bookObj._id ? 'Edit' : 'Add New' }} Book</h5>
        </div>
        <div class="card-body">
          <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
              <label for="name" class="form-label">Book Name</label>
              <input type="text" name="name" [(ngModel)]="bookObj.name" class="form-control" id="name" required>
            </div>
            <div class="col-md-6">
              <label for="isbn" class="form-label">ISBN</label>
              <input type="text" name="isbn" [(ngModel)]="bookObj.isbn" class="form-control" id="isbn" required>
            </div>
            <div class="col-md-6">
              <label for="author" class="form-label">Author</label>
              <input type="text" name="author" [(ngModel)]="bookObj.author" class="form-control" id="author" required>
            </div>
            <div class="col-md-6">
              <label for="pages" class="form-label">Pages</label>
              <input type="number" name="pages" [(ngModel)]="bookObj.pages" class="form-control" id="pages" required>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="button" (click)="onSaveBook()">{{ bookObj._id ? 'Update' : 'Add' }} Book</button>
              <button class="btn btn-secondary ms-2" type="button" (click)="resetForm()" *ngIf="bookObj._id">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Book List -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Book List</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">ISBN</th>
                <th scope="col">Author</th>
                <th scope="col">Pages</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              @for (book of bookList; track book._id) {
                <tr>
                  <th scope="row">{{ $index + 1 }}</th>
                  <td>{{ book.name }}</td>
                  <td>{{ book.isbn }}</td>
                  <td>{{ book.author }}</td>
                  <td>{{ book.pages }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm me-2" (click)="onEdit(book)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(book._id!)">Delete</button>
                  </td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="6" class="text-center">No books available</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>